<header class="app-header navbar">
  <h1 class="text-center">Github Test</h1>
</header>
<div class="app-body">
  <div class="sidebar">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-title">Navegação</li>
          <li class="nav-item">
            <a class="nav-link" href="list">
              Usuários Github
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="app-footer">
  Made by Diego Oliveira to LeanWork
</footer>
