<div class="row">
  <div class="col m-3">
    <div class="card">
      <div class="card-body">
        <h1>Detalhes do usuário</h1>
        <hr>
        <ul>
          <li><b>Id:</b> {{ user.id }}</li>
          <li><b>Login:</b> {{ user.login }}</li>
          <li><b>Url:</b> {{ user.html_url }}</li>
        </ul>

        <h2>Repositórios</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Login</th>
              <th>Url</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let repo of repos">
              <td>{{ repo.id }}</td>
              <td>{{ repo.name }}</td>
              <td>{{ repo.html_url }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
